#homepage{
    display: flex;
    height: 100%;
    margin-top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    
}
#homepage h1{
    text-align: center;
    width:100%;
    margin: 50px 0;
}


