#main{
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
   
}
.loginForm{
    width:50%;
    border:solid 1px gainsboro ;
    text-align: center;
    display: flex;
    flex-direction: column;

}
.loginInput{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    margin-bottom: 50px;
}
.input-group{
    width:auto;
    margin:0 50px
}
.loginSubmit{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.border{
    width:80%;
    align-self: center;
    margin-top: 10px;
}
.errors{
    align-self: center;
    display: block;
    color:red;
    margin:5px 0;
}
