#productPage .container{
    margin-top:200px;
    margin-bottom: 120px;
    height: 100%;
}
.productContainer .col1 p{
    text-align: center;
    margin:20px 0;
    font-size: 40px;
    
}
.productContainer .col1 p span{
    color: rgb(202, 243, 121);
}
.line {
    background-color: #d3d0cb;
    width: 100%;
    height: 4px;
    opacity: 0.5;
}
.row h6{
    margin: 10px 0
}
.row h5{
    margin: 10px 0
}
.row button{
    margin:0 20px 0 0
}
.slide img{
    width:300px;
    height:450px
}
.carousel-control-next-icon{
    background-color: gray;
}
.carousel-control-prev-icon{
    background-color: gray;
}